<h1>Item Details</h1>
{% load static %}
<head>
{% block content %}
<style>
@include media-breakpoint-up(sm)) {
    backgournd-color: lightblue;

 .reddish {width: 100%; border: 3px solid red;}
}
</style>
{% endblock %}
</head>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{{ static }}
<div class="sm reddish">
<form  action="{% url 'shiren:list' %}" method="post">
    {% csrf_token %}
    {%   bootstrap_form form  %}
    {%  buttons submit="Check Price"  %}{% endbuttons %}
</form>
{% if data  %}
    {% for i in data  %}
            <p>{{ i }}</p>
        {% endfor %}
{% else %}
    <p>Nope</p>
{% endif %}


</div>


